body{
	background:#fff;
	margin:0;
	padding:0;
	font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size:1em;
	line-height: 1.4em;
}

* {
  box-sizing: border-box;
}

a{
	text-decoration: none;
	color:#000;
}

.layout {
	display: grid;
    grid-template-areas:
        "header header header"
        "nav content content";
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.layout > nav{
	grid-area: nav;
    border-right:1px #ddd solid;
}

.layout > nav ul{
	padding:0;
	margin:0;
	list-style:none;
}

.layout > nav a{
	padding: 1em;
	border-bottom:1px #ddd solid;
	display: block;
    width: 100%;
}

.layout > nav a:hover{
	background:rgba(0,0,0,.02);
}

header{
	background:#f9f9f9;
	border-bottom:1px #ddd solid;
	grid-area: header;
	display: grid;
    grid-template-columns: 200px 1fr; /* First column (logo) takes up 200px, 1fr allows the menu to take the remaining width */
}

header nav{
	text-align: right;
}

header .logo{
	padding: 1em;
    font-weight: bold;
}

header nav a{
	padding: 1em 1em 1em 0em; /* These values go clockwise from top */
    display: inline-block;
}

main{
	grid-area: content;
	padding:1em;
}

@media (max-width: 768px) {
  	.layout {
    grid-template-areas:
      "header"
      "nav"
      "content";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      minmax(75px, auto) /* Nav */
      1fr; /* Content */
 	}

  	header{
    	grid-template-columns: 1fr;
	}

	header nav{
		text-align: left
	}

	header nav a {
    	padding: 1em 0em 1em 1em;
    }

    .layout > nav ul{
    	display: flex;
    	justify-content: space-between;
    	flex-grow: 1;
    }

	.layout > nav li{
        display: flex;
    }
}